<% if @results.present? %>
  <table>
    <tr>
      <th>No.</th>
      <th>Name</th>
      <th>Content</th>
    </tr>

    <% @results.each_with_index do |result, index| %>
    <tr>
      <td><%= index+1 %></td>
      <td><%= result.exam_id %></td>
      <td><%= result.marks %></td>
    </tr>
    <% end %>

  </table>
<% else %>
  <h6 class="no-record">No Records found</h6>
<% end %>
